body {
    font-family: Raleway;
    background-color: linen;
    color: #0A0A0A;
    overflow-x: hidden;
    margin: 0;
}

#navbar {
    width: 100vw;
    height: 65px;
    background-color: rgb(235, 222, 209);
    position: fixed;
}

#links {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direciton: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px;
}

.button:hover {
    transform: scale(1.1) translateY(-1px);
    background-color: rgba(255, 255, 255, 0.5);
}

.button p {
    margin: 0;
}

#closeAboutButton {
    height: 10px;
    width: 10px;
    cursor: pointer;
    position: relative;
    bottom: 125px;
    right: 20px;
}

.hidden-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.hidden-content.show {
    display: block;
    opacity: 1;
}

#bio-content-container {
    background: transparent;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-pointer {
    pointer-events: none;
}

#resume-content-container {
    background: transparent;
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resume-content img {
    height: 80vh;
}

#closeResumeButton {
    position: relative;
    top: 20px;
    left: -20px;
}

.welcome {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#name {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 75px;
    animation: glow 10s infinite linear;
}

#thanks {
    width: 500px;
    text-align: center;
}

.social-icons a {
    padding: 3px 5px;
    background-color: linen;
    color: #0A0A0A;
    border-radius: 15%;
}

.social-icons a:hover {
    font-size: 15px;
    background-color: #0A0A0A;
    color: linen;
    border-radius: 20%;
}

.container {
    width: 100vw;
    height: calc(100vh - 100px);
}

.container.bio-page {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#biography {
    width: 600px;
    height: 300px;
    padding: 2px 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 222, 209);
    border-radius: 30px;
    font-size: 90%;
}

#portrait {
    width: 40%;
    height: 95%;
    margin-right: 10px;
    border-radius: 25px;
}

.divider-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-bottom svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 98px;
}

.divider-bottom .shape-fill {
    fill: rgb(235, 222, 209);
}

@keyframes glow {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: purple;
    }
    75% {
        color: yellow;
    }
    100% {
        color: red;
    }
}